// Import only what you need from Bulma
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/grid/columns.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/elements/progress.sass";
@import "~bulma/sass/elements/image.sass";
@import "~bulma/sass/elements/content.sass";
@import "~bulma/sass/elements/tag.sass";
@import "~bulma/sass/components/media.sass";
@import "~bulma/sass/components/modal.sass";
@import "~bulma/sass/components/card.sass";
@import "~bulma/sass/components/tabs.sass";
@import "~bulma/sass/layout/section.sass";
@import "~bulma/sass/layout/hero.sass";
@import "~bulma/sass/elements/box.sass";

@import "~bulma-timeline/src/sass/index.sass";

// @import "~bulma/sass/"

.main-container {
    min-height: 100vh;
    &__box {
        padding: 0;
        @media (max-width: $tablet) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

$logo-height: 128px;
.navigation-bar {
    display: flex;

    &__logo {
        margin: auto;
        width: $logo-height;
        height: $logo-height;
        transform: translateY(-$logo-height/2);
        margin-bottom: -$logo-height/2;
        
        & > img {
            background: $light;
            border-radius: 100%;
            box-shadow: 0 0 5px $dark;
        }
    }
}

.tag-skills {
    margin-bottom: 0 !important;
    padding-bottom: 1rem;
    padding-top: 1rem;
    
    &__wrapper {
        justify-content: center;

        & > .has-addons {
            margin-bottom: 0;
            margin-right: 0.5rem;
        }
    }
}